<!DOCTYPE html>

<html lang="en">

    <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author"  content="Kyle Brady">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Application Form</title>
      <link rel="stylesheet" type="text/css" href="../css/columns.css">
  </head>

  <body>
    <header>
      <ul>
      <li><a class="active" href="index.html">Welcome Page</a></li>
      <li><a href="Page2.html">Main Page</a></li>
      <li><a href="Page3.html">About</a></li>
      <li><a href="Page4.html">Application</a></li>
      <li><a href="Page5.html">Information</a></li>
      <li><a href="Page6.html">Photo Gallery</a></li>
      <li><a href="Page7.html">FAQ</a></li>
      <li><a href="Page8.html">Other Information</a></li>
      <li><a href="Page9.html">Contact Us</a></li>
    </ul>
    <header/>

    <h2>Application Form</h2>

    <div class="row">
      <div class="column1">
        <h2>Application Form</h2>
        <div class="form-group" ng-class="('firstName')">
                        <label for="first-name">
                            First Name(s)
                            <span class="text-danger">*</span>
                        </label>
                                                <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="first-name" name="firstName" required="" focus-on="firstName" ng-model="ctrl.person.firstName" ng-change="$ctrl.onFormUpdated()">
                                                <label for="last-name">
                                                                    Last Name
                                                                    <span class="text-danger">*</span>
                                                                </label>
<input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="last-name" name="lastName" required="" ng-model="ctrl.person.lastName" ng-change="ctrl.onFormUpdated()">
<div class="form-group ng-scope" ng-if=":: $ctrl.site.Settings.applicantGender" ng-class="{'has-error': $ctrl.showValError('gender')}">
                <label for="gender-male">
                    Gender
                    <span class="text-danger">*</span>
                </label>
                <div class="radio" style="margin: 0 0 20px;">
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="gender-male" value="1" ng-model="$ctrl.person.gender" ng-required="!$ctrl.person.gender" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="required">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="gender-female" value="2" ng-model="$ctrl.person.gender" ng-required="!$ctrl.person.gender" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="required">
                        Female
                    </label>
                </div>
            </div>
            <label for="dob-day" class="ng-binding">
                    Date of Birth
                    <span class="text-danger">*</span>
                </label>
                    </div>
                    <select name="Day">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                    </select>
                    <select name="Month">
                      <option value="January">January</option>
                      <option value="February">February</option>
                      <option value="March">March</option>
                      <option value="April">April</option>
                      <option value="May">May</option>
                      <option value="June">June</option>
                      <option value="July">July</option>
                      <option value="August">August</option>
                      <option value="September">September</option>
                      <option value="October">October</option>
                      <option value="November">November</option>
                      <option value="December">December</option>
                    </select>
                    <select name="Year">
                      <option value="2000">2000</option>
                      <option value="2001">2001</option>
                      <option value="2002">2002</option>
                      <option value="2003">2003</option>
                      <option value="2004">2004</option>
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>

</select>
      </div>
      <div class="column2">
        <h2></h2>
        <p></p>
      </div>
      <div class="column3">
        <h2></h2>
        <p></p>
      </div>
    </div>
  

</body>



</html>
